<div class="ui container">
  <% if @current_user %>
    <%= render partial: 'shared/latest_job_experiences', locals: {job_experiences: @job_experiences} %>
  <% else %>
    <img class="ui fluid image" src="business-meeting.jpg">
    <div class="ui segment">
      <h1 class="ui center aligned header">Forge a new path.</h1>
      <div class="item">
        Novum Opus is a social platform that allows peers to share career advice. We strive to help people make informed decisions about which jobs to pursue, where to go to acquire the skills they need, and how to accomplish their career goals.
      </div>
    </div>
    <div class="ui segment">
    </div>
  <% end %>
</div>
