<div class="ui container">
  <img class="ui fluid image" src="business-meeting.jpg">
  <div class="ui segment">
    <h1 class="ui center aligned header">
      Novum Opus is a social platform that allows peers to share career advice.
    </h1>
  </div>
</div>
