<div class="ui container">
  <img class="ui fluid image" src="business-meeting.jpg">
  <div class="ui segment">
    <h1 class="ui center aligned header">Forge a new path.</h1>
    <div class="item">
      Novum Opus is a life consulting service for young adults looking to launch a career the smart way.
    </div>
    <div class="item">
      We help our clients forge their path by considering their personal, educational, geographical, and financial background in order to guide them toward an informed decision.
    </div>
    <div class="item">
      If you are interested in working with us, please <%= mail_to "dan@novumopus.com", "email us" %> your name, contact information, and a description of the options you are considering after high school for more details.
    </div>
  </div>
</div>
