<div class="ui container">
  <img class="ui fluid image" src="business-meeting.jpg">
  <div class="ui segment">
    <h1 class="ui center aligned header">Forge a new path.</h1>
    <div class="item">
      Novum Opus is a life consulting service for young adults looking to launch a career without an enormous pile of student loan debt.
    </div>
  </div>
</div>
