<p>Thank you for signing up to join Novum Opus, <%= @user.name %>!</p>
<p>Your account email address is <%= @user.email %>.<br></p>
<p>To verify your email and log in to the site, just follow <a href=<%= @path %>>this link</a>.</p>
<p>Thanks for joining!</p>
