<p>Hi <%= @user.first_name %>,</p>
<p>This message was sent because someone attempted to log into your Novum Opus account using your email address, <%= @user.email %>.<br></p>
<p>If this was you, sign in using <a href=<%= @path %>>this link</a>.</p>
<p>Otherwise, please contact us <a href="mailto:dan@novumopus.com?Subject=Account%20Issues">at this email</a> so we can help you get this issue resolved.</p>
