<h1>Thank you for signing up to join Novum Opus, <%= @user.first_name %>!</h1>
<p>Your email address is <%= @user.email %>.<br></p>
<p>To verify your email and log in to the site, just follow this link: <%= @path %>.</p>
<p>Thanks for joining and have a great day!</p>
