<p>Thank you for signing up to join Novum Opus, <%= @user.name %>!</p>
<p>Your account email address is <%= @user.email %>.<br></p>
<p>To verify your email and log in to the site, just follow <a href=<%= @path %>>this link</a>.</p>
<p>Please note that this link will expire in two hours. If you do not use it within that time, you will need to get a new one by going to the <a href=<%= @new_session_path %>>sign in page.</a></p>
<p>Thanks for joining!</p>
