Thank you for signing up to join Novum Opus, <%= @user.name %>!
Your account email address is <%= @user.email %>.
To verify your email and log in to the site, just follow <a href=<%= @path %>>this link</a>.
Thanks for joining!
