defaults: &defaults
  CALENDLY_KEY: 'your_calendly_key'
  MAIL_SENDER: 'your_mail_sender'
  MAILER_HOST: 'localhost:4000'

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
