<div class="ui container">
  <div class="ui segment">
    <h2 class="ui header">My Experiences</h2>
  </div>
  <%= render partial: 'shared/latest_job_experiences',
             locals: { job_experiences: @job_experiences } %>
</div>
