@import 'variables.scss';
@import 'landing-page-layout.scss';
@import 'job-experiences.scss';

.ui.menu {
  background-color: $primary;
  border-radius: 0px;
  margin-top: 0px;

  .item {
    color: $white;

    &:hover {
      color: $white;
      background-color: $dark-blue;
    }
  }
}

.ui.floating.message {
  margin-bottom: 0px;
}
