@import 'variables.scss';
@import 'job-experiences.scss';

.ui.menu {
  background-color: $primary;
  border-radius: 0px;
  margin-top: 0px;

  a.item, div.dropdown.item {
    color: $white;

    &:hover {
      background-color: $primary-dark;
      color: $white;
    }
  }

  .right.menu {
    .menu {
      margin-top: 1px;
    }
  }
}

.ui.floating.message {
  margin-bottom: 0px;
}

.ui.button {
  background-color: $primary;
  color: $white;

  &:hover {
    background-color: $primary-dark;
    color: $white;
  }

  a {
    color: $white;
  }
}
