@import "semantic-ui";
@import "variables.scss";
@import "landings.scss";

.ui.floating.message {
   margin-bottom: 0px;
   position: fixed;
   width: 100%;
   z-index: 10;
 }

.ui.menu {
  background-color: $menu;
  border-radius: 0px;
  margin-top: 0px;

  .item {
    color: $white;
  }
}

.ui.header {
  font-size: 2rem;
  margin-bottom: 0px;
  color: $primary;
}
