.ui.segment {
  border-radius: 0px;

  .ui.center.aligned.header {
    color: $primary;
  }

  .ui.list {
    .item {
      font-size: 16px;
      color: $text;
    }
  }

  .ui.label {
    font-size: 14px;

    .experience-link {
      color: $accent;
      opacity: 1;
      &:hover {
        color: $accent-dark;
      }
    }
  }
}
