.ui.segment {
  border-radius: 0px;

  .ui.list {
    .item {
      font-size: 16px;
      color: $text;
      white-space: pre-line;
    }
    .label {
      margin: 10px 0px;
    }
  }

  .ui.label {
    font-size: 14px;

    .experience-link {
      color: $accent;
      opacity: 1;
      &:hover {
        color: $accent-dark;
      }
    }
  }
}
