.ui.fluid.image {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.ui.segment {
  .item {
    font-size: 16px;
    color: $text;
    white-space: pre-line;
  }
  .tab.item {
    cursor: pointer;
  }
}
