// Colors
$blue: #2A62BD;
$cerulean-frost: #6D9DC5;
$cool-green: #48A9A6;
$light-purple: #8789C0;
$light-blue: #4392F1;
$white: #FFFFFF;
$pale-turquoise: #AEECEF;
$royal-blue: #031A6B;
$dark-midnight-blue: #033860;
