// Colors
$blue: #2185d0;
$dark-blue: #196198;
$red: #d63031;
$dark-red: #B02829;
$dark-gray: #333333;
$white: #FFFFFF;

$primary: $blue;
$primary-dark: $dark-blue;
$accent: $red;
$accent-dark: $dark-red;
$text: $dark-gray;
$background: $white;
